.forgot-outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.forgot-box{
    margin: 5%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    height: max-content;
    padding:50px;
    background-color: white;
    box-shadow: 5px 5px 10px
}
.forgot-form{
    margin: 2%;
    padding:50px;
    width:500px;
    height: max-content;
    position: relative;
}
#forgot-button{
   width:150px;
   transition: .2s;
}
.forgot-bar
{
   border: 1px solid black;
   margin:2%;
}
.forgot-img{
   display: flex;
   width:400px;
   margin:2%;
   margin-left: 10%;
}